html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none; }

html {
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  text-align: center; }

body {
  font-family: "gooddog-new";
  line-height: 1.5;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  font-size: 5.5rem;
  color: #ab3434;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1; }

h2 {
  font-size: 3rem;
  color: #717171;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.2; }

h3 {
  margin: 3rem 0 1rem 0;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: uppercase; }

a {
  color: #ab3434;
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease; }
  a:hover {
    color: #942929; }

p {
  margin: 1rem 0; }

.toolbar {
  color: white; }

button, .btn {
  font-size: 1rem;
  border-radius: 15px;
  padding: 15px 2rem;
  border: 2px solid #57986e;
  text-transform: uppercase;
  font-family: "gooddog-new";
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1rem;
  color: #57986e;
  background: transparent;
  outline: 0;
  cursor: pointer;
  margin: 0 0.5rem;
  line-height: 1.3rem;
  font-size: .9rem; }
  button:hover, .btn:hover {
    background: #57986e;
    color: white; }
  button.btn-gray, .btn.btn-gray {
    border: 2px solid #ab3434;
    color: #ab3434; }
    button.btn-gray:hover, .btn.btn-gray:hover {
      color: white;
      background: #ab3434;
      border-color: #ab3434; }
  button.btn-full, .btn.btn-full {
    display: block;
    width: 100%; }
  button.btn-tall, .btn.btn-tall {
    height: 95px; }
  button.btn-small, .btn.btn-small {
    padding: 1px 0.5rem;
    font-size: .7rem;
    border-width: 1px;
    border-radius: 6px;
    color: white; }
  button.btn-enabled, .btn.btn-enabled {
    background: #57986e;
    color: white; }

.record {
  display: inline-block; }

.rec-outer {
  background: white;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 0 auto; }

.rec-inner {
  background: #ab3434;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

a:hover {
  cursor: pointer; }

.svg-button {
  display: inline-block;
  vertical-align: middle; }

.start {
  background: url(../images/start/start.svg) no-repeat center center;
  width: 120px;
  height: 112px;
  margin-right: 10px; }
  .start:hover {
    background: url(../images/start/start-hover.svg) no-repeat center center; }

.how-to {
  background: url(../images/start/how-to.svg) no-repeat center center;
  width: 129px;
  height: 57px;
  margin-left: 10px; }
  .how-to:hover {
    background: url(../images/start/how-to-hover.svg) no-repeat center center; }

.wrap-beat {
  background: url(../images/soundboard/wrap-beat.svg) no-repeat center center;
  width: 194px;
  height: 59px; }
  .wrap-beat:hover, .wrap-beat.btn-enabled {
    background: url(../images/soundboard/wrap-beat-hover.svg) no-repeat center center; }

.slay-music {
  background: url(../images/soundboard/slay-music.svg) no-repeat center center;
  width: 190px;
  height: 58px; }
  .slay-music:hover, .slay-music.btn-enabled {
    background: url(../images/soundboard/slay-music-hover.svg) no-repeat center center; }

.indie-clause {
  background: url(../images/soundboard/indie-clause.svg) no-repeat center center;
  width: 219px;
  height: 56px; }
  .indie-clause:hover, .indie-clause.btn-enabled {
    background: url(../images/soundboard/indie-clause-hover.svg) no-repeat center center; }

.drumkitmas {
  background: url(../images/soundboard/drumkitmas.svg) no-repeat center center;
  width: 215px;
  height: 59px; }
  .drumkitmas:hover, .drumkitmas.btn-enabled {
    background: url(../images/soundboard/drumkitmas-hover.svg) no-repeat center center; }

.elves-2-men {
  background: url(../images/soundboard/elves-2-men.svg) no-repeat center center;
  width: 195px;
  height: 110px; }
  .elves-2-men:hover, .elves-2-men.btn-enabled {
    background: url(../images/soundboard/elves-2-men-hover.svg) no-repeat center center; }

.smells-like {
  background: url(../images/soundboard/smells-like.svg) no-repeat center center;
  width: 193px;
  height: 122px; }
  .smells-like:hover, .smells-like.btn-enabled {
    background: url(../images/soundboard/smells-like-hover.svg) no-repeat center center; }

.mr-tannen {
  background: url(../images/soundboard/mr-tannen.svg) no-repeat center center;
  width: 192px;
  height: 115px; }
  .mr-tannen:hover, .mr-tannen.btn-enabled {
    background: url(../images/soundboard/mr-tannen-hover.svg) no-repeat center center; }

.all-i-want {
  background: url(../images/soundboard/all-i-want.svg) no-repeat center center;
  width: 189px;
  height: 113px; }
  .all-i-want:hover, .all-i-want.btn-enabled {
    background: url(../images/soundboard/all-i-want-hover.svg) no-repeat center center; }

.santa-omg {
  background: url(../images/soundboard/santa-omg.svg) no-repeat center center;
  width: 211px;
  height: 110px; }
  .santa-omg:hover, .santa-omg.btn-enabled {
    background: url(../images/soundboard/santa-omg-hover.svg) no-repeat center center; }

.youll-shoot {
  background: url(../images/soundboard/youll-shoot.svg) no-repeat center center;
  width: 206px;
  height: 105px; }
  .youll-shoot:hover, .youll-shoot.btn-enabled {
    background: url(../images/soundboard/youll-shoot-hover.svg) no-repeat center center; }

.merry-christmas {
  background: url(../images/soundboard/merry-christmas.svg) no-repeat center center;
  width: 210px;
  height: 110px; }
  .merry-christmas:hover, .merry-christmas.btn-enabled {
    background: url(../images/soundboard/merry-christmas-hover.svg) no-repeat center center; }

.ho-ho-ho {
  background: url(../images/soundboard/ho-ho-ho.svg) no-repeat center center;
  width: 201px;
  height: 98px; }
  .ho-ho-ho:hover, .ho-ho-ho.btn-enabled {
    background: url(../images/soundboard/ho-ho-ho-hover.svg) no-repeat center center; }

.gun-shot {
  background: url(../images/soundboard/gun-shot.svg) no-repeat center center;
  width: 207px;
  height: 102px; }
  .gun-shot:hover, .gun-shot.btn-enabled {
    background: url(../images/soundboard/gun-shot-hover.svg) no-repeat center center; }

.fog-horn {
  background: url(../images/soundboard/fog-horn.svg) no-repeat center center;
  width: 196px;
  height: 105px; }
  .fog-horn:hover, .fog-horn.btn-enabled {
    background: url(../images/soundboard/fog-horn-hover.svg) no-repeat center center; }

.fa-la-la {
  background: url(../images/soundboard/fa-la-la.svg) no-repeat center center;
  width: 212px;
  height: 102px; }
  .fa-la-la:hover, .fa-la-la.btn-enabled {
    background: url(../images/soundboard/fa-la-la-hover.svg) no-repeat center center; }

.sleigh-bells {
  background: url(../images/soundboard/sleigh-bells.svg) no-repeat center center;
  width: 195px;
  height: 93px; }
  .sleigh-bells:hover, .sleigh-bells.btn-enabled {
    background: url(../images/soundboard/sleigh-bells-hover.svg) no-repeat center center; }

.joy-to-the {
  background: url(../images/soundboard/joy-to-the.svg) no-repeat center center;
  width: 211px;
  height: 99px; }
  .joy-to-the:hover, .joy-to-the.btn-enabled {
    background: url(../images/soundboard/joy-to-the-hover.svg) no-repeat center center; }

.merry-xmas-you {
  background: url(../images/soundboard/merry-xmas-you.svg) no-repeat center center;
  width: 196px;
  height: 106px; }
  .merry-xmas-you:hover, .merry-xmas-you.btn-enabled {
    background: url(../images/soundboard/merry-xmas-you-hover.svg) no-repeat center center; }

.put-that-cookie {
  background: url(../images/soundboard/put-that-cookie.svg) no-repeat center center;
  width: 214px;
  height: 100px; }
  .put-that-cookie:hover, .put-that-cookie.btn-enabled {
    background: url(../images/soundboard/put-that-cookie-hover.svg) no-repeat center center; }

.bah-humbug {
  background: url(../images/soundboard/bah-humbug.svg) no-repeat center center;
  width: 197px;
  height: 102px; }
  .bah-humbug:hover, .bah-humbug.btn-enabled {
    background: url(../images/soundboard/bah-humbug-hover.svg) no-repeat center center; }

.restart {
  background: url(../images/soundboard/restart.svg) no-repeat center center;
  width: 144px;
  height: 48px; }

.preview-next {
  background: url(../images/soundboard/next.svg) no-repeat center center;
  width: 122px;
  height: 47px; }
  .preview-next:hover, .preview-next.btn-enabled {
    background: url(../images/soundboard/next-hover.svg) no-repeat center center; }

.m0 {
  margin: 0; }

.mt0 {
  margin-top: 0; }

.mr0 {
  margin-right: 0; }

.mb0 {
  margin-bottom: 0; }

.ml0 {
  margin-left: 0; }

.m1 {
  margin: 0.5rem; }

.mt1 {
  margin-top: 0.5rem; }

.mr1 {
  margin-right: 0.5rem; }

.mb1 {
  margin-bottom: 0.5rem; }

.ml1 {
  margin-left: 0.5rem; }

.m2 {
  margin: 1rem; }

.mt2 {
  margin-top: 1rem; }

.mr2 {
  margin-right: 1rem; }

.mb2 {
  margin-bottom: 1rem; }

.ml2 {
  margin-left: 1rem; }

.m3 {
  margin: 2rem; }

.mt3 {
  margin-top: 2rem; }

.mr3 {
  margin-right: 2rem; }

.mb3 {
  margin-bottom: 2rem; }

.ml3 {
  margin-left: 2rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.p0 {
  padding: 0; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

.pt0 {
  padding-top: 0; }

.pb0 {
  padding-bottom: 0; }

.p1 {
  padding: 0.5rem; }

.pt1 {
  padding-top: 0.5rem; }

.pr1 {
  padding-right: 0.5rem; }

.pb1 {
  padding-bottom: 0.5rem; }

.pl1 {
  padding-left: 0.5rem; }

.px1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.p2 {
  padding: 1rem; }

.pt2 {
  padding-top: 1rem; }

.pr2 {
  padding-right: 1rem; }

.pb2 {
  padding-bottom: 1rem; }

.pl2 {
  padding-left: 1rem; }

.px2 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p3 {
  padding: 2rem; }

.pt3 {
  padding-top: 2rem; }

.pr3 {
  padding-right: 2rem; }

.pb3 {
  padding-bottom: 2rem; }

.pl3 {
  padding-left: 2rem; }

.px3 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p4 {
  padding: 4rem; }

.pt4 {
  padding-top: 4rem; }

.pr4 {
  padding-right: 4rem; }

.pb4 {
  padding-bottom: 4rem; }

.pl4 {
  padding-left: 4rem; }

.px4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; }
  .wrapper p {
    width: 65%;
    margin: 1rem auto 1rem auto; }

.toolbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: #252525; }

.builder {
  margin-bottom: 140px; }

.progress-bar {
  width: 100%;
  background: #303030;
  height: 8px; }
  .progress-bar .current-progress {
    background: #ab3434;
    height: 8px;
    width: 0%; }

.grid {
  margin: 0 0 1rem 0; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding: 0 0.75rem; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }
  .grid [class*='col-']:first-of-type {
    padding-left: 0; }

.col-flush {
  padding-right: 0; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 12.5%; }

@media all and (max-width: 768px) {
  [class*='col-'] {
    width: 100%;
    float: none;
    display: block;
    padding: 0;
    margin-bottom: 1rem;
    text-align: center; }

  [class*='col-'] .float-right {
    float: none; }

  .col-flush {
    margin-bottom: 0; } }
hr {
  border: 0;
  height: 1px;
  background: #717171;
  margin: 2rem 0; }

.hidden {
  display: none; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

body {
  background: #89cde0; }

.loading {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed; }

.screen {
  background: #89cde0;
  z-index: 2; }
  .screen .screen-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.loading {
  z-index: 9; }

.start-screen {
  z-index: 8; }

.overlay {
  z-index: 6;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed; }

.modal {
  z-index: 7;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: white; }

.ornaments {
  background: url(../images/ornaments.svg) repeat-x top center;
  width: 100%;
  height: 203px;
  margin-top: -230px;
  position: relative;
  z-index: 9;
  -webkit-animation: drop-in 2s ease forwards;
  animation: drop-in 2s ease forwards; }

@-webkit-keyframes drop-in {
  0% {
    margin-top: -230px; }

  100% {
    margin-top: 0px; } }

@keyframes drop-in {
  0% {
    margin-top: -230px; }

  100% {
    margin-top: 0px; } }

.logo {
  background: url(../images/themerrymaker.svg) no-repeat top center;
  width: 100%;
  height: 780px;
  background-size: contain;
  margin-top: 100px; }

@-webkit-keyframes up-down {
  0% {
    top: -200px; }

  50% {
    top: -230px; }

  100% {
    top: -200px; } }

@keyframes up-down {
  0% {
    top: -200px; }

  50% {
    top: -230px; }

  100% {
    top: -200px; } }
