button, .btn {
	font-size:1rem;
	border-radius: 15px;
	padding:15px $space*2;
	border: 2px solid $light-green;
	text-transform: uppercase;
	font-family: $font-family;
	-webkit-font-smoothing: antialiased;
	letter-spacing: .1rem;
	color:$light-green;
	background:transparent;
	outline:0;
	margin:0 $space/2;
	line-height: 1.3rem;
	font-size:.9rem;
	

	&:hover {
		background:$light-green;
		color:$white;
	}

	&.btn-gray {
		border:2px solid $red;
		color:$red;

		&:hover {
			color:$white;
			background:$red;
			border-color:$red;
		}
	}

	&.btn-full {
		display:block;
		width:100%;
	}

	&.btn-tall {
		height:95px;
	}

	&.btn-small {
		padding:1px $space/2;
		font-size:.7rem;
		border-width:1px;
		border-radius: 6px;
		color:$white;
	}

	&.btn-enabled {
		background:$light-green;
		color:$white;
	}
}

a:hover {
	cursor: pointer;
}

.record {
	cursor: pointer;
	display:inline-block;
}

.rec-outer {
	background:$white;
	width:54px;
	height:54px;
	border-radius: 50%;
	margin:0 auto;
}

.rec-inner {
	background:$red;
	width:42px;
	height:42px;
	border-radius: 50%;
	margin:0 auto;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	        transform: translateY(-50%);
}

.record:hover .rec-inner {
	width:44px;
	height:44px;
}

.svg-button {
	display:inline-block;
	vertical-align: middle;
}

.tempo a:hover {
	cursor: pointer;
}

// Start
.start {
	background:url(../images/start/start.svg) no-repeat center center;
	width:120px;
	height:112px;
	margin-right:10px;

	&:hover {
		background:url(../images/start/start-hover.svg) no-repeat center center;
	}
}

.how-to {
	background:url(../images/start/how-to.svg) no-repeat center center;
	width:129px;
	height:57px;
	margin-left:10px;

	&:hover, &.btn-enabled {
		background:url(../images/start/how-to-hover.svg) no-repeat center center;
	}
}

// Soundboard
.wrap-beat {
	background:url(../images/soundboard/wrap-beat.svg) no-repeat center center;
	width:194px;
	height:59px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/wrap-beat-hover.svg) no-repeat center center;
	}
}

.slay-music {
	background:url(../images/soundboard/slay-music.svg) no-repeat center center;
	width:190px;
	height:58px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/slay-music-hover.svg) no-repeat center center;
	}
}

.indie-clause {
	background:url(../images/soundboard/indie-clause.svg) no-repeat center center;
	width:219px;
	height:56px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/indie-clause-hover.svg) no-repeat center center;
	}
}

.drumkitmas {
	background:url(../images/soundboard/drumkitmas.svg) no-repeat center center;
	width:215px;
	height:59px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/drumkitmas-hover.svg) no-repeat center center;
	}
}

.elves-2-men {
	background:url(../images/soundboard/elves-2-men.svg) no-repeat center center;
	width:195px;
	height:110px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/elves-2-men-hover.svg) no-repeat center center;
	}
}

.smells-like {
	background:url(../images/soundboard/smells-like.svg) no-repeat center center;
	width:193px;
	height:122px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/smells-like-hover.svg) no-repeat center center;
	}
}

.mr-tannen {
	background:url(../images/soundboard/mr-tannen.svg) no-repeat center center;
	width:192px;
	height:115px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/mr-tannen-hover.svg) no-repeat center center;
	}
}

.all-i-want {
	background:url(../images/soundboard/all-i-want.svg) no-repeat center center;
	width:189px;
	height:113px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/all-i-want-hover.svg) no-repeat center center;
	}
}

.santa-omg {
	background:url(../images/soundboard/santa-omg.svg) no-repeat center center;
	width:211px;
	height:110px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/santa-omg-hover.svg) no-repeat center center;
	}
}

.youll-shoot {
	background:url(../images/soundboard/youll-shoot.svg) no-repeat center center;
	width:206px;
	height:105px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/youll-shoot-hover.svg) no-repeat center center;
	}
}

.merry-christmas {
	background:url(../images/soundboard/merry-christmas.svg) no-repeat center center;
	width:210px;
	height:110px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/merry-christmas-hover.svg) no-repeat center center;
	}
}

.ho-ho-ho {
	background:url(../images/soundboard/ho-ho-ho.svg) no-repeat center center;
	width:201px;
	height:98px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/ho-ho-ho-hover.svg) no-repeat center center;
	}
}

.chimes {
	background:url(../images/soundboard/chimes.svg) no-repeat center center;
	width:207px;
	height:102px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/chimes-hover.svg) no-repeat center center;
	}
}

.fog-horn {
	background:url(../images/soundboard/fog-horn.svg) no-repeat center center;
	width:196px;
	height:105px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/fog-horn-hover.svg) no-repeat center center;
	}
}

.fa-la-la {
	background:url(../images/soundboard/fa-la-la.svg) no-repeat center center;
	width:212px;
	height:102px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/fa-la-la-hover.svg) no-repeat center center;
	}
}

.sleigh-bells {
	background:url(../images/soundboard/sleigh-bells.svg) no-repeat center center;
	width:195px;
	height:93px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/sleigh-bells-hover.svg) no-repeat center center;
	}
}

.joy-to-the {
	background:url(../images/soundboard/joy-to-the.svg) no-repeat center center;
	width:211px;
	height:99px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/joy-to-the-hover.svg) no-repeat center center;
	}
}

.merry-xmas-you {
	background:url(../images/soundboard/merry-xmas-you.svg) no-repeat center center;
	width:196px;
	height:106px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/merry-xmas-you-hover.svg) no-repeat center center;
	}
}

.put-that-cookie {
	background:url(../images/soundboard/put-that-cookie.svg) no-repeat center center;
	width:214px;
	height:100px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/put-that-cookie-hover.svg) no-repeat center center;
	}
}

.bah-humbug {
	background:url(../images/soundboard/bah-humbug.svg) no-repeat center center;
	width:197px;
	height:102px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/bah-humbug-hover.svg) no-repeat center center;
	}
}

.restart {
	background:url(../images/soundboard/restart.svg) no-repeat center center;
	width:144px;
	height:48px;
}

.preview-next {
	background:url(../images/soundboard/next.svg) no-repeat center center;
	width:122px;
	height:47px;

	&:hover, &.btn-enabled {
		background:url(../images/soundboard/next-hover.svg) no-repeat center center;
	}
}

// Change BG
.next-bg {
	background:url(../images/change-bg/next-bg.svg) no-repeat center center;
	width:115px;
	height:47px;

	&:hover, &.btn-enabled {
		background:url(../images/change-bg/next-bg-hover.svg) no-repeat center center;
	}
}

.prev-bg {
	background:url(../images/change-bg/prev-bg.svg) no-repeat center center;
	width:114px;
	height:48px;

	&:hover, &.btn-enabled {
		background:url(../images/change-bg/prev-bg-hover.svg) no-repeat center center;
	}
}

.done {
	background:url(../images/change-bg/done.svg) no-repeat center center;
	width:114px;
	height:118px;

	&:hover, &.btn-enabled {
		background:url(../images/change-bg/done-hover.svg) no-repeat center center;
	}
}

// Change Greeting

.next-greeting {
	background:url(../images/greetings/next-greeting.svg) no-repeat center center;
	width:42px;
	height:47px;
	float:right;

	&:hover, &.btn-enabled {
		background:url(../images/greetings/next-greeting-hover.svg) no-repeat center center;
	}
}

.prev-greeting {
	background:url(../images/greetings/prev-greeting.svg) no-repeat center center;
	width:41px;
	height:46px;
	float:left;

	&:hover, &.btn-enabled {
		background:url(../images/greetings/prev-greeting-hover.svg) no-repeat center center;
	}
}

// Card
.make-your-own {
	background:url(../images/card/make-your-own.svg) no-repeat center center;
	width:249px;
	height:57px;

	&:hover, &.btn-enabled {
		background:url(../images/card/make-your-own-hover.svg) no-repeat center center;
	}
}

.share-twitter {
	background:url(../images/card/share-twitter.svg) no-repeat center center;
	width:52px;
	height:48px;

	&:hover, &.btn-enabled {
		background:url(../images/card/share-twitter-hover.svg) no-repeat center center;
	}
}

.share-fb {
	background:url(../images/card/share-fb.svg) no-repeat center center;
	width:51px;
	height:48px;

	&:hover, &.btn-enabled {
		background:url(../images/card/share-fb-hover.svg) no-repeat center center;
	}
}

.share-email {
	background:url(../images/card/share-email.svg) no-repeat center center;
	width:51px;
	height:48px;

	&:hover, &.btn-enabled {
		background:url(../images/card/share-email-hover.svg) no-repeat center center;
	}
}

.close {
	background:url(../images/card/close.svg) no-repeat center center;
	width:18px;
	height:24px;
	position:absolute;
	right:20px;
	top:15px;
	z-index:400;
}

.rsq {
	background:url(../images/rsq.svg) no-repeat center center;
	width:82px;
	height:43px;
}

.gaming {
	background:url(../images/gaming.svg) no-repeat center center;
	width:194px;
	height:25px;
}