// Colors
$red: #AB3434;
$dark-red: #942929;

$light-gray: #D0D0D0;
$gray: #717171;
$dark-gray: #D2D2D2;
$darker-gray: #303030;
$darkest-gray: #252525;

$white: #ffffff;

$light-green: #57986E;
$green: #2B613E;

// Typography
$font-family: "proxima-nova";
$base-font-size: 20px;
$base-line-height: 1.5;
$base-color: $gray;
$base-link-color: $red;
$base-link-hover-color: $dark-red;

// Margins and Padding
$space:1rem;